{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>Bienvenue sur la Homepage</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea dicta quaerat, a sequi, deserunt quia veritatis doloremque earum, qui et commodi magni omnis obcaecati ipsum. Dicta architecto veniam ipsa facere?</p>
    </div>
    <div class="container">
        <h2>Les derniers biens</h2>
        <div class="row flex">
            {% for property in properties %}
                <div class="col-3">
                    <div class="card">
                            {% if property.filename %}
                                <img src="{{ property.filename }}" alt="" class="card-img-top" style="width:100% ; height: auto;">
                            {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="{{path('property_show', {'id':property.id, 'slug':property.slug})}}">{{property.title}}</a>
                            </h5>
                            <p class="card-text">{{property.city}} ({{property.postalCode}})</p>
                            <div class="text primary" style="font-weigth: bold; font-size: 2rem">{{property.formattedPrice}} €</div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
