{% extends 'base.html.twig' %}

{% block title %}Gérer les biens{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Gérer les biens</h1>
        {% for type, messages in app.flashes %}
            <div class="alert alert-{{ type }}">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endfor %}
        <div class="text-right mb-3">
            <a href="{{ path('admin_property_new') }}" class="btn btn-primary">Nouveau bien</a>
        </div>
        <table class="table table-stripped">
            <thead>
                <tr>
                    <th>Titre</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for property in properties %}
                    <tr>
                        <td>{{property.title}}</td>
                        <td>
                            <a href="{{ path('admin_property_edit', {'id': property.id}) }}" class="btn btn-secondary">Editer</a>
                            <form action="{{path('admin_property_delete', {id:property.id})}}" style="display: inline-block" method="post" onsubmit="return confirm('Etes vous sur ?')">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ property.id) }}">
                                <button class="btn btn-danger">Supprimer</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
