<div class="card mb-4">
    <div class="card-body">
        {% if property.filename matches '{.+\.jpg}' %}
            <img src="{{ vich_uploader_asset(property, 'imageFile') }}" alt="" class="card-img-top" style="width:100% ; height: auto;">
        {% else %}
            <img src="{{ property.filename }}" alt="" class="card-img-top" style="width:100% ; height: auto;">    
        {% endif %}
        <h5 class="card-title">
            <a href="{{ path('property_show', {'id': property.id, 'slug': property.slug}) }}">{{ property.title }}</a>
        </h5>
        <p class="card-text">{{ property.surface }} m² - {{ property.city }} ({{ property.postalCode }})</p>
        <div class="text-primary" style="font-size: 2rem; font-weigth: bold;">
            {{ property.formattedPrice }} €
        </div>
    </div>
</div>