{% extends "base.html.twig" %}

{% block title property.title %}

{% block body %}
    <div class="jumbotron">
        <div class="container">

            {% if not contactForm.vars.valid %}
                <div class="alert alert-danger">
                    Erreur dans le formulaire
                </div>
            {% endif %}
            
            <div class="row">
                <div class="col-md-8">
                    <div id="slider">
                        {% for picture in property.pictures %}
                            {% if picture.filename matches '{.\.jpg}' %}
                                <img src="/images/properties/{{picture.filename}}" class="card-img-top" style="width:100% ; height: auto;">
                            {% else %}
                                <img src="{{picture.filename}}" class="card-img-top" style="width:100% ; height: auto;">    
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-4">
                    <h1>{{property.title}}</h1>
                    <h2>{{property.rooms}} pièces - {{property.surface}} m2</h2>
                    <div class="text-primary" style="font-size: 3rem; font-weigth: bold">{{property.formattedPrice}} €</div>
                    <a href="#" class="btn btn-primary" id="contactButton"{% if contactForm.vars.submitted %} style="display: none;" {% endif %}>Contacter l'agence</a>
                    <div id="contactForm" class="mt-4"{% if not contactForm.vars.submitted %} style="display: none;" {% endif %}>
                        {{ form_start(contactForm) }}
                        <div class="row">
                            <div class="col">{{ form_row(contactForm.lastName) }}</div>
                            <div class="col">{{ form_row(contactForm.firstName) }}</div>
                        </div>
                        <div class="row">
                            <div class="col">{{ form_row(contactForm.phone) }}</div>
                            <div class="col">{{ form_row(contactForm.email) }}</div>
                        </div>
                        {{ form_rest(contactForm) }}
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Envoyer</button>
                        </div>
                        {{ form_end(contactForm) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-4">     
        <p>{{property.description|nl2br}}</p>
        <div class="row">
            <div class="col-md-8">
                <h2>Caractéristiques</h2>
                <table class="table table-striped">
                    <tr>
                        <td>Surface habitable</td>
                        <td>{{property.surface}} m2</td>
                    </tr>
                    <tr>
                        <td>Pièces</td>
                        <td>{{property.rooms}}</td>
                    </tr>
                    <tr>
                        <td>Chambres</td>
                        <td>{{property.bedrooms}}</td>
                    </tr>
                    <tr>
                        <td>Etage</td>
                        <td>{{property.floor}}</td>
                    </tr>
                    <tr>
                        <td>Chauffage</td>
                        <td>{{property.heatType}}</td>
                    </tr>
                </table>
            </div>
            <div class="col-md-4">
                <h2>Spécificités</h2>
                <ul class="list-group">
                    {% for option in property.options %}
                        <li class="list-group-item">{{ option.name }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div id="map" style="width: 100%; height: 450px" data-lat={{property.lat}} data-lng={{property.lng}}></div>
    </div>
{% endblock %}