{% extends 'base.html.twig' %}

{% block title %}Option{% endblock %}

{% block body %}
<div class="container">
    <h1>Options</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for option in options %}
            <tr>
                <td>{{ option.id }}</td>
                <td>{{ option.name }}</td>
                <td>
                    <a href="{{ path('option_edit', {'id': option.id}) }}" class="btn btn-secondary">Editer</a>
                    <a href="{{ path('option_delete', {'id': option.id}) }}" class="btn btn-danger">Supprimer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('option_new') }}" class="btn btn-success">Nouvelle option</a>
</div>

{% endblock %}
